.fixed-top {
    padding-top: 0px;
    padding-bottom: 0px;
}

.headerColor{
    background-color:rgb(32,32,32)
}

.logButton{
    background-color:transparent;
    color: white;
}

.logButton:hover{
    color: white;
}